<app-leftsidebar (isOut)="side($event)"></app-leftsidebar>
<app-header (isOutput)="show($event)"></app-header>
<div class="alert alert-success alert-dismissible" [hidden]="isSuccess">
    <strong></strong> <a href="#" class="alert-link">Saved Successfully..!!!</a>.
</div>
<div class="alert alert-danger alert-dismissible" [hidden]="isError">
    <strong></strong> <a href="#" class="alert-link">Some Error Occurred..!!!</a>.
</div>
<div class="justify-content-center" [ngClass]="{'sidebarHome':isSelected,'sideHome':!isSelected, 'index1':isIndex}"><router-outlet></router-outlet></div>

<app-rightsidebar [isInput]="isInput"></app-rightsidebar>
