<div class="container-fluid" id="contaner-box">
  <div class="col-md-12 divHeaderBox">
    <h3>Broadcast List</h3>
  </div>
  <div class="col-md-12 divContainer">
    <div class="row">
      <div class="divContentBox">
        <div class="col-12 pt-3 text-right">
          <button class="btn btn-common" [ngStyle]="backgroundColor" routerLink="../send">Send Broadcast</button>
        </div>
        <div class="divTableContent">
          <div class="full_aligned">
            <table class="table table-hover table-striped table-bordered myDataTable">
              <thead>
                <tr [ngStyle]="backgroundColor">
                  <th>#</th>
                  <th>Subject</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Type</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dataArray | paginate: { itemsPerPage: 6, currentPage: p };let i=index;">
                  <td scope="row">{{i+1}}</td>
                  <td *ngIf="data.type=='email'">{{data.subject}}</td>
                  <td *ngIf="data.type=='sms'">{{data.description}}</td>
                  <td>{{data.from_username}}</td>
                  <td>{{data.user_name}}</td>
                  <td>{{data.type}}</td>
                  <td>{{data.created_on | date}}</td>
                  <td>
                    <button type="button" [ngStyle]="backgroundColor" class="btn btn-common" (click)="view(data)">View</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>