<div class="container-fluid" id="contaner-box">
  <div class="col-12 text-center divHeaderBox p-2">
    <h4>View Jobs</h4>
  </div>
  <div class="col-12 text-center divHeaderBox p-0">
    <div *ngFor='let job of allJobs' class='col-12'>
      <div class="row jobs">
        <div class="col-4 p-1">
          <h5>{{job.job_title}} </h5>
          <p>{{job.skills}}</p>
          <p>{{job.experience}} {{job.experience_duration}}</p>
        </div>
        <div class="col-2 p-1">
          <h6> Type</h6>
          <p>{{job.job_type}}</p>
        </div>
        <div class="col-2 p-1">
          <h6> Location</h6>
          <p>{{job.job_Location}}</p>
        </div>
        <div class="col-4 p-1">
          <input class="btn btn-common " type="button" value="Refer" (click)='referJob(job.id)' >
        </div>
      </div>
    </div>
  </div>
</div>