<div class="container-fluid row no-gutters" id="contaner-box">
  <div class="col-md-12 divContainer p-0">
    <div class="col-12 text-center divHeaderBox">
      <h3>My Attendance Records</h3>
    </div>
    <div class="col-12 divHeaderBox new_aligned">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group mb-1">
            <p>Date :</p>
            <my-date-range-picker class="mydateleave" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 divHeaderBox full_aligned">
      <div class="row">
        <div class="col-12">
          <table class="table table-hover table-striped table-bordered myDataTable">
            <thead>
              <tr [ngStyle]="backgroundColor">
                <th>#</th>
                <th>Punch In</th>
                <th>Punch Out</th>
                <th>Remarks</th>
                <th>Duration(Hours)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of recordDetails | paginate: { itemsPerPage: 6, currentPage: p };let i=index;">
                <td>{{i+1}}</td>
                <td>{{x.punch_in}}</td>
                <td>{{x.punch_out}}</td>
                <td>{{x.remark}}</td>
                <td>{{x.duration}}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>