.faAddButton{
    position: absolute;
    font-size: 30px;
    top: 8px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
}
.divContentBox{
    padding-top: 20px;
}
.ngx-pagination{
    text-align: center !important;
}
.my-pagination /deep/ .ngx-pagination {
    text-align: center !important;
}
.faFontTwenty{
    cursor: pointer;
    font-size: 20px;
    float: right;
    color: black;
    left: 25%;
    position: relative;
}
.faFontLike{
    cursor: pointer;
    font-size: 24px;
    float: left;
}
.faFontSend{
    font-size: 25px;
    cursor: pointer;
    position: relative;
    bottom: 17px;
}
.comment_box{
  width: 80%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  overflow: hidden;
  text-overflow: ellipsis;
}
.colorWhite{
  background: #FFF !important;
}
.hide{
  display: none;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300);



html, body{
  height: 100%;
  background: #EDEDED;
  font-family: 'Roboto', serif;
  color: #222;
}
[class*='col-']{ /* Targets anything with 'col-' */
  float: left; 
}
.col-1-1{
  width: 100%;
  height: 200px;
}
.col-1-3{
  width: 33.333%;
  height: 200px;
}
.col-1-2{
  width: 50%;
  height: 200px;
}
.col-1-5{
  width: 5%;
}
.feed{
  padding: 20px 40px 20px 20px;
}
.feed-item{
  display: inline-block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background: #f5eaea;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  transition:  0.7s;
}
.feed-item .icon-holder{
  width: 55px;
  float: left;
  margin: 21px 20px 0 25px;
}
.feed-item .icon-holder .icon{
  width: 55px;
  height: 55px;
  border-radius: 100%;
  float: left;
  background-size: 55px 55px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  bottom: 13px;
  position: relative;
}
.feed-item .text-holder{
  margin-top: 22px;
  width: 75%;
  display: inline-block;
}
.feed-item .spacer{
  width: 10%;
  float: left;
}
.feed-description{
    font-size: 15px;
    font-weight: 300;
    color: #383333;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.feed-comments{
  font-size: 15px;
  font-weight: 300;
  color: #383333;
  /* height: 1.4em; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* float: left; */
}
.feed-title{
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}
.feed-title:hover{
  color: #2199e8;
}

.ques{
  float: right;
    color: #2199e8;
    position: relative;
    bottom: 25px;
}
.question_date{
  display: flex;
}
.comment_username{
  color: #2199e8;
}
.cp {
  display: flex;
  cursor: pointer;
  margin-right: 10px;
}
.votes {
  display: inline-block;
  height: 38px;
  min-width: 38px;
  margin: 0 3px 0 0;
  font-size: 13px;
  color: #848d95;
  padding: 7px 6px;
  text-align: center;
}
.mini-counts {
  font-size: 17px;
  font-weight: 300;
  color: #6a737c;
  margin-bottom: 4px;
}
.status {
  display: inline-block;
  margin: 0 3px 0 0;
  min-width: 44px;
  height: auto;
  font-size: 13px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #848d95;
  text-align: center;
}
.status.answered, .status.answered .mini-counts, .status.answered strong {
  color: #45A163;
  border-color: rgba(69,161,99,0.5);
}
.summary {
  flex: 1 auto;
  width: auto;
  float: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.question-summary {
  display: flex;
  padding: 7px;
  float: none;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #eff0f1;
}
/*Lower Right Button to Add Feed Item*/

#plus{ 
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #E53935;
  position: fixed;
  float: right;
  bottom: 15px;
  right: 15px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
  text-align:center;
  cursor: pointer;
  color: #FFF;
  /*Align Icon to Center of circle*/
  text-align: center;
  line-height: 60px; /*Height of container*/
  vertical-align: middle;
}
#plus:hover{
  background: #F44336;
}

@media all and (max-width: 855px){
 
}

@media all and (min-width: 1000px){

}

@media all and (max-width: 1000px){
  body{
    background: #ffffff;
  }
  .col-1-3{
    width: 100%;
  }
  .feed-item{
    margin-left: 0px;
    margin-bottom: 1px;
    box-shadow:none;
  }
  .feed{
    margin-top: -2px;
    margin-left: 0;
  }

}

@media all and (max-width: 560px){.feed-item .text-holder{width: 70%}}
@media all and (max-width: 470px){.feed-item .text-holder{width: 60%}}
@media all and (max-width: 360px){.feed-item .text-holder{width: 50%}}