.container-fluid{
    background: #E4E5E6;
}

.thead{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 2.5;
    padding: 2px 10px 2px 10px;
    text-align: left;
}
.faGoalCalender{
    font-size: 20px;
    line-height: 2;
    cursor: pointer;
}
.lblSelectedCurrentDate{
    margin-bottom: 0px !important;
    line-height: 3;
    font-weight: 600;
    color: #585858;
}
h3{
    line-height: 2;
    font-weight: 400;
    color: #565656;
}
#btnAddGoal{
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.fa-play{
    color: #34A853;
}
.fa{
    padding-left: 15px; 
}
.colorBlue{
    background: #36c6d3;
}
.colorYellow{
    background: #F1C40F;
}
.colorRed{
    background: #E7505A;
}
.red{
    color: #E7505A;
}
.progress{
    background-color: transparent!important;
}
.progress-bar{
    margin: 6px 0px;
}
.breadcrumb{
    background-color: transparent!important;
    padding: 0;
    margin-bottom: 0;
}
a{
    color: #868e96;
}
.btn{
    font-weight: 600;
    border: none;    
    color: black;
    font-size: 20px;
}
.btn:hover{
    cursor: pointer;
}
.btn:focus{
    box-shadow: none !important;
}
.fa-check-square{
    color: #36C6D3;
}
.fa-check-square:hover{
    color: #22232B;
}
.modal-header{
    background: #22232B;
    color: #fff;
}
.colorWhite{
    color: #fff;
}
.Hide{
    display: none;
}
.wid31{
    width: 31%;
}
.colon{
    font-size: 22px;
    padding: 0 4px;
}
.webkit{
    display: flex;
}
.scrollx{
    overflow-x: auto;
}
.progress{
    background-color: transparent!important;
}
.progress-bar{
    margin: 6px 0px;
    height: 8px;
    background: rgb(20, 188, 48);
}
@media screen and (max-width: 893px){
    .w893{
        width: 893px;
    }
    .w145{
        width: 145px;
    }
    .w220{
        width: 220px;
    }
    .w75{
        width: 75px;
    }
}
@media screen and (max-width: 599px){
    .hidetym{
        display: none;
    }
    .col10{
        -webkit-box-flex: 0;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}
.boxShadow{
    box-shadow: 0 1px 60px 0 rgba(0,0,0,0.1), 0 1px 0px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
}