<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <form class="box form-group" [formGroup]="loginForm">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="row mb-1">
                  <div class="col-md-12">
                    <span class="input-group-addon width10 inline h-100">
                      <i class="fa fa-envelope-o"></i>
                    </span>
                    <input type="text" class="form-control width85 inline h-100" placeholder="Email" (keyup)="handleChange()" formControlName="txtEmail" id="txtUsername">
                  </div>
                  <div class="col-md-12">
                    <label class="alert alert-danger error" *ngIf="emailError">
                        email not found
                      </label>
                  </div>                  
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                      <span class="input-group-addon width10 inline h-100">
                          <i class="fa fa-key"></i>
                      </span>
                      <input type="password" class="form-control width85 inline h-100" placeholder="Password" (keyup)="handleChange()" formControlName="password" id="Password">
                    </div>     
                    <div class="col-md-12">
                      <label class="alert alert-danger error" *ngIf="pwdError">
                        Incoreect passowrd
                      </label>
                    </div>                 
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary px-2" [disabled]="!loginForm.valid" (click)="submit(loginForm.value)">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0" routerLink="../forgotPassword">Forgot password?</button>
                  </div>
                </div>
                <div class="incorrect" *ngIf="loginForm.errors?.notauser">
                  <span class="alert alert-danger">
                    Password or Email is incorrect
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:100%">
            <div class="card-block text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.</p>
                <a routerLink="/subscribe/signup-company">
                  <button type="button" class="btn btn-primary active mt-1">Register Now!</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>