.faBackButton{
    position: absolute;
    font-size: 30px;
    top: 8px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
.divContentBox{
    padding-top: 40px;
}


/* -------------------- */
