.UserLabel{
    font-weight: 500;
    color: darkgray;
}
input[type="text"]:disabled {
    background: #fff;
    border: none;
    color: #708090;
    font-weight: 500;
    font-size: 1rem;
    
}
.new_aligned{
    width: 100%;
    display: inline-block;
    padding: 5% 5px 1% 5px;
}
input[type="text"]:enabled {
    background: #fff;
    box-shadow: 0 0 5px #1C4561;
    border: 1px solid rgba(28, 69, 97, 0.5);
    color: #708090;
    font-weight: 500;
    font-size: 1rem;
    
}
.btn{
    color: #fff;
    background: #1C4561;
    font-size: 16px;
    font-weight: 600;
    box-shadow: none !important;
}
.btn:hover{
    background: #22232B;
}
.colorBlack{
    background: #22232B;
}
.m16{
    margin-bottom: 16px;
}
@media screen and (min-width: 768px){
    .offset-lg-1{
        margin-left: 8%;
    }
}@media screen and (max-width: 767px){
    .offset-sm-2{
        margin-left: 14%;
    }
}