<div class="container-fluid pt-12">
  <div class="row pt-12">
    <div class="col-lg-1 col-md-1 displayFlex">
      <img src="./assets/image/avatar2.jpg" alt="Pic" height="50" class="rounded-circle">
    </div>
    <div class="col-lg-2 col-md-2">
      <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
    </div>
    <div class= "col-lg-2 col-md-2">
      <h6>Bran Stark</h6>
    </div>
    <div class="col-lg-4 col-md-4">
      <span>
        <span class="greyish">11 Jun</span>
        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
        <span class="greyish">14:30-17:00</span>
      </span>
    </div>
    <div class="col-lg-3 col-md-3">
      <span class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
        <button class="btn approveBtn">Approve</button>
        <button class="btn rejectBtn">Reject</button>
      </span>
    </div>
  </div>
  <div class="row pt-12">
    <div class="col-lg-1 col-md-1 displayFlex">
      <img src="./assets/image/avatar1.jpg" alt="Pic" height="50" class="rounded-circle">
    </div>
    <div class="col-lg-2 col-md-2">
      <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
    </div>
    <div class= "col-lg-2 col-md-2">
      <h6>Samuel Tarly</h6>
    </div>
    <div class="col-lg-4 col-md-4">
      <span>
        <span class="greyish">7 July</span>
        <span><i class="fa fa-circle dotRed" aria-hidden="true"></i></span>
        <span class="greyish">8:30-12:00</span>
      </span>
    </div>
    <div class="col-lg-3 col-md-3">
      <span class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
        <button class="btn approveBtn">Approve</button>
        <button class="btn rejectBtn">Reject</button>
      </span>
    </div>
  </div>
   <div class="row pt-12">
    <div class="col-lg-1 col-md-1 displayFlex">
      <img src="./assets/image/avatar4.jpg" alt="Pic" height="50" class="rounded-circle">
    </div>
    <div class="col-lg-2 col-md-2">
      <i class="fa fa-magnet fa-3x" aria-hidden="true"></i>
    </div>
    <div class= "col-lg-2 col-md-2">
      <h6>Cersei Lannister</h6>
    </div>
    <div class="col-lg-4 col-md-4">
      <span>
        <span class="greyish">7 Aug</span>
        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
        <span class="greyish">7:30-9:00</span>
      </span>
    </div>
    <div class="col-lg-3 col-md-3">
      <span class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
        <button class="btn approveBtn">Approve</button>
        <button class="btn rejectBtn">Reject</button>
      </span>
    </div>
  </div>
  <div class="row pt-12">
    <div class="col-lg-1 col-md-1 displayFlex">
      <img src="./assets/image/avatar3.jpg" alt="Pic" height="50" class="rounded-circle">
    </div>
    <div class="col-lg-2 col-md-2">
      <i class="fa fa-comments-o fa-3x" aria-hidden="true"></i>
    </div>
    <div class= "col-lg-2 col-md-2">
      <h6>The Hound</h6>
    </div>
    <div class="col-lg-4 col-md-4">
      <span>
        <span class="greyish">17 Aug</span>
        <span><i class="fa fa-circle dotRed" aria-hidden="true"></i></span>
        <span class="greyish">17:30-21:00</span>
      </span>
    </div>
    <div class="col-lg-3 col-md-3">
      <span class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
        <button class="btn approveBtn">Approve</button>
        <button class="btn rejectBtn">Reject</button>
      </span>
    </div>
  </div>
</div>