<div class="container-fluid" id="contaner-box">
  <div class="col-md-12 divHeaderBox">
    <h3>Access Modules</h3>
  </div>
  <div class="col-md-12 divContainer p-0">
    
    <div class="divContentBox">      
      <form class="col-12 accessFormBox" id="accessModuleFormBox" [formGroup]="accessModuleForm">
        <div class="col-12 pt-3 text-right">
          <button class="btn btn-common" [routerLink]="['/pages/access-management']" [ngStyle]="backgroundColor">+ Assign Pages</button>
        </div>
        <div class="full_aligned">
            <div class="half_aligned">
              <div class="forty_aligned">
                <label class="control-label">User Roles</label>
              </div>
              <div class="forty_aligned">
                <select class="form-control" formControlName="optModuleRoleId" (change)="roleslected(accessModuleForm.value)">
                  <option value="">--Select--</option>
                  <option *ngFor="let data of userRoles" [value]="data.id">{{data.name}}</option>
                </select>
              </div>
              
            </div>
            
        </div>
        <div class="full_aligned">
          <table class="table table-hover table-striped table-bordered myDataTable" id="table">
              <thead>
                <tr class="text-center" [ngStyle]="backgroundColor">
                  <th style="width: 10%;">#</th>
                  <th style="width: 40%;">Module Name</th>
                  <th style="width: 50%;">Permissions</th>
                </tr>
              </thead>
              <tbody formArrayName="moduleList" >
                
                <tr class="text-center"  *ngFor="let data of moduleArray ; let i = index;" [formGroupName]="i">
                  <td class="handle"><input type="hidden" formControlName="id" [ngModel]="data.module_id">{{i+1}}</td>
                  <td class="handle"><input type="hidden" formControlName="pages" [ngModel]="data.module_name">{{data.module_name}}</td>
                  <td class="handle">
                    <div class="switch-field-color">
                      <input type="radio" id="{{ 'acceptable1' + i}}" formControlName="is_permission" value="R" [(ngModel)]="data.is_permission"/>
                      <label for="{{ 'acceptable1' + i}}">Read</label>
                      <input type="radio" id="{{ 'acceptable2' + i}}" formControlName="is_permission" value="W" [(ngModel)]="data.is_permission"/>
                      <label for="{{ 'acceptable2' + i}}">Write</label>
                      <input type="radio" id="{{ 'acceptable3' + i}}" formControlName="is_permission" value="N" [(ngModel)]="data.is_permission"/>
                      <label for="{{ 'acceptable3' + i}}">Deny</label>
                    </div>
                  </td>
                </tr>
              </tbody>                  
            </table>
        </div>
        <div class="full_aligned" align="center">
          <button class="btn btn-common" (click)="submit(accessModuleForm.value)" [ngStyle]="backgroundColor">Save</button>
          <!-- <button  type="reset" class="btn btn-common">Reset</button> -->
        </div>
      </form>
    </div>
  </div>
</div>
