<ul>
  <li>Staff</li>
  <li><img src="assets\image\avatar1.jpg" class="rounded-circle" alt="Bob"> Bob Nilson</li>
  <li><img src="assets\image\avatar2.jpg" class="rounded-circle" alt="Nick">Nick Larson</li>
  <li><img src="assets\image\avatar3.jpg" class="rounded-circle" alt="Deon">Deon Hubert</li>
  <li><img src="assets\image\avatar4.jpg" class="rounded-circle" alt="Ella">Ella Wong</li>
  <li>Customers</li>
  <li><img src="assets\image\avatar1.jpg" class="rounded-circle" alt="Bob"> Bob Nilson</li>
  <li><img src="assets\image\avatar2.jpg" class="rounded-circle" alt="Nick">Nick Larson</li>
  <li><img src="assets\image\avatar3.jpg" class="rounded-circle" alt="Deon">Deon Hubert</li>
  <li><img src="assets\image\avatar4.jpg" class="rounded-circle" alt="Ella">Ella Wong</li>
  <li><img src="assets\image\avatar1.jpg" class="rounded-circle" alt="Bob"> Bob Nilson</li>
  <li><img src="assets\image\avatar2.jpg" class="rounded-circle" alt="Nick">Nick Larson</li>
  <li><img src="assets\image\avatar3.jpg" class="rounded-circle" alt="Deon">Deon Hubert</li>
  <li><img src="assets\image\avatar4.jpg" class="rounded-circle" alt="Ella">Ella Wong</li>
</ul>