<div class="app flex-row align-items-center">
    <div class="container">
      <div class="alert alert-success" role="alert" [hidden]="isSuccess">
        <strong>Success!</strong> {{successMsg}}
      </div>
      <div class="alert alert-danger" role="alert" [hidden]="isError">
        <strong>Warning!</strong> {{errorMsg}}
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card-group mb-0">
            <div class="card p-2">
              <div class="card-block">
                <form class="box form-group" [formGroup]="setPasswordForm">
                  <h1>Set Password</h1>
                  <p class="text-muted">Set your password here</p>
                  <div class="input-group mb-1">
                    <span class="input-group-addon">
                      <i class="fa fa-key"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
                  </div>
                  <span style="color: red;" *ngIf="!password.valid && password.touched">Password Required</span>

                  <div class="input-group mb-1">
                      <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                      </span>
                      <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" required>
                    </div>
                    <span style="color: red;" *ngIf="setPasswordForm.controls.confirmPassword.errors?.MatchPassword">Password does not match</span>
                  <div class="row" align="center">
                    <div class="btn-center">
                      <button class="btn btn-common" [disabled]="!setPasswordForm.valid" (click)="submit(setPasswordForm.value)">Submit</button>
                      <button type="reset" class="btn btn-common btn-reset">Reset</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>