<div class="container-fluid">
  <div class="row displayFlex pt-12 optionhover"> 
    <div class="col-lg-2 col-md-2 col-sm-2">
      <img src="./../assets/image/avatar1.jpg" alt="Clay" class="rounded-circle" height="75">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h6>Clay Jenson</h6>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <small class="float-right">26 Feb, 10:30AM</small>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p class="greyish">Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy. </p>
        </div>      
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h6 class="greyish float-left">PENDING</h6>
        </div>
        <div class="col-lg-8">
          <span class="greyish float-right options">
            <span>Quick Edit</span>
            <span>View</span>
            <span>Delete</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row displayFlex pt-12 optionhover"> 
    <div class="col-lg-2 col-md-2 col-sm-2">
      <img src="./../assets/image/avatar2.jpg" alt="Clay" class="rounded-circle" height="75">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h6>Justin Foley</h6>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <small class="float-right">14 Feb, 7:30AM</small>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p class="greyish">Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy. </p>
        </div>      
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h6 class="rejectedColor float-left">REJECTED</h6>
        </div>
        <div class="col-lg-8">
          <span class="greyish float-right options">
            <span>Quick Edit</span>
            <span>View</span>
            <span>Delete</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row displayFlex pt-12 optionhover"> 
    <div class="col-lg-2 col-md-2 col-sm-2">
      <img src="./../assets/image/avatar3.jpg" alt="Clay" class="rounded-circle" height="75">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h6>Jon Snow</h6>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <small class="float-right">18 Feb, 5:30PM</small>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p class="greyish">Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy. </p>
        </div>      
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h6 class="greyish float-left">PENDING</h6>
        </div>
        <div class="col-lg-8">
          <span class="greyish float-right options">
            <span>Quick Edit</span>
            <span>View</span>
            <span>Delete</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row displayFlex pt-12 optionhover"> 
    <div class="col-lg-2 col-md-2 col-sm-2">
      <img src="./../assets/image/avatar4.jpg" alt="Clay" class="rounded-circle" height="75">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h6>Danerys Targerean</h6>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <small class="float-right">2 Feb, 11:30AM</small>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <p class="greyish">Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy. </p>
        </div>      
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h6 class="rejectedColor float-left">REJECTED</h6>
        </div>
        <div class="col-lg-8">
          <span class="greyish float-right options">
            <span>Quick Edit</span>
            <span>View</span>
            <span>Delete</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>